
/*-------------------
    Theme Colors
--------------------*/

$themeRed            : #EC6B6B;
$themeYellow         : #FFC400;
$themeBrightYellow   : #FFECB2;
$themeCyan           : #16E6E6;
$themeBrightCyan     : #8DF7F7;
$themePurple         : #AD82F9;
$themeBrightPurple   : #C3A0FF;

$themeLightGrey      : #4F5A5A;
$themeGrey           : #37474F;
$themeDarkGrey       : #2E3947;

$themeColors: (
  "red": $themeRed, 
  "yellow": $themeYellow, 
  "brightYellow": $themeBrightYellow, 
  "cyan": $themeCyan, 
  "brightCyan": $themeBrightCyan, 
  "purple": $themePurple, 
  "brightPurple": $themeBrightPurple, 
  "lightGrey": $themeLightGrey,
  "grey": $themeGrey,
  "darkGrey": $themeDarkGrey
);

/*-------------------
      Site Colors
--------------------*/

/*---  Colors  ---*/
// $red              : #DB2828;
$red              : darken($themeRed, 15);

$orange           : #F2711C;

// $yellow           : #FBBD08;
$yellow           : darken($themeYellow, 3);

$olive            : #B5CC18;

$green            : rgb(35, 102, 36);  //Darken green a little to match blue

// $teal             : rgb(0, 129, 123);
$teal             : darken($themeCyan, 12);

// $blue             : #2185D0;
$blue             : #31679b;  //Darken blue a little for clearer links

//$violet           : #6435C9;
$violet           : darken($themePurple, 17);

$purple           : #A333C8;
// $purple           : darken($themePurple, 17);

$pink             : rgb(177, 44, 119);  //Darken a little to match blue
$brown            : rgb(75, 59, 48);
$grey             : #767676;
$black            : $themeDarkGrey;//#1B1C1D;

$colors: (
  "red": $red, 
  "orange": $orange, 
  "yellow": $yellow, 
  "olive": $olive, 
  "green": $green, 
  "teal": $teal, 
  "blue": $blue, 
  "violet": $violet, 
  "purple": $purple, 
  "pink": $pink, 
  "brown": $brown, 
  "grey": $grey, 
  "black": $black
);
